body {
    background-color: #252525;
}

.navbar {
    border: 0;
    border-radius: 0;
}

#header .logo {
  float: left;
  margin-top: 17px;
  padding-left:
  display: inline-block;
  width: 216px;
  height: 27px;
  background: url(/images/logo.png) 0 0 no-repeat;
  text-indent: -999em;
}

#header-wrapper {
  margin-bottom: 0;
  clear: both;
  height: 61px;
  background: url(/images/header.png) 0 0 repeat-x;
}

.container>.navbar-header {
    float: right;
}

.navbar-nav>li {
    padding-top: 5px;
}

.navbar-nav>li>a {
    height: 61px;
    color: #ffcc00;
    border: 0;
}

.navbar-nav>li>a:hover {
    color: #fff;
    background-color: #1c1c1c;
}

.well {
    background-color: #1c1c1c;
}

#footer {
  position: relative;
  bottom: 0;
  font-size: 12px;
  color: #636363;
  margin: 0 auto;
  max-width: 980px;
  clear: both;
  display: block;
}

#footer .wrapper {
  border-top: 1px solid #111;
  text-align: center;
  padding: 20px 0;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.lower-footer {
  border-top: 1px solid #111;
  padding: 30px 0;
  display: block;
}

.footer-cell:first-child {
  text-align: left;
  padding-left: 0;
}

.footer-cell:last-child {
  text-align: right;
  padding: 0;
}

.footer-cell:last-child li {
  margin: 0 0 0 20px;
  padding-right: 0;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
}

.footer-cell ul {
    display: block;
}

.footer-cell li {
  display: inline;
  margin-right: 20px;
  list-style: none;
}

.footer-cell a {
  color: #ffcc00;
  text-decoration: none;
}